[Desktop Entry]
Name=Procrastinate No More
Comment=A simple widget to keep you from procrastinating
Icon=procrastinate-no-more
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_procrastinate-no-more
X-KDE-PluginInfo-Author=Hans Chen
X-KDE-PluginInfo-Email=contact@hanschen.org
X-KDE-PluginInfo-Name=procrastinate-no-more
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://hanschen.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true

